# Funciones Lambda

Las funciones lambda es una manera sencilla de definir una función en una linea.

In [1]:
g = lambda x: x**2 + 4

In [2]:
g(0)

4

In [3]:
g1= lambda y: 2*y

In [4]:
g1(3)

6

La función anterior es equivalente a la siguiente función:
```def f(x):
    return x**2 + 4```

Lo anterior es $f(x) = x² + 4$

\begin{equation}
\sum_{i=0

#  Archivo

## Creando archivos

Ahora supongamos que por alguna razón necesitamos guardar en un archivo los datos creados en nuestro programa para ellos podemos hacer lo siguiente:

In [6]:
f= open("file.txt", "w")

  Con el método `open ('name', 'w')` El primer argumento es una cadena que contiene el nombre del archivo

In [7]:
for i in range (0,10):
    f.write ("This is line %d \r \n" % (i+1))

In [8]:
f.close()

El fragmento de codigo anteior genera una lista con valores del 0 al 9, en la segunda línea escribe en el archivo la cadena: this is line %d \r \n. Aquí tenemos un nuevo operador conocido como pipe %, el cual literal entiba la salida de una variable a una cadena justo en %d. usamos %d para entubar int, %s para str, %f para float, %e para float expresados con notaciones cientificas 10e+2.

In [20]:
file = open("data1.txt", "w")

In [21]:
def diff(f, x, h):
    return (f(x+h)- f(x-h))/(2*h)

In [22]:
a= diff(g, 1.0, 1e-7)

In [23]:
a

2.0000000011677344

In [24]:
i = 0.0
while i<3:
    a= g(i)
    b= diff(g, i, 1e-7)
    file.write( "%f %f %f \n" % (i,a,b))
    i= i + 0.1

In [25]:
file.close()

In [27]:
infile= open("data1.txt", "r")

In [28]:
infile

In [30]:
lines = []
for line in infile: 
    lines.append(line)

In [31]:
lines

['0.100000 4.010000 0.200000 \n',
 '0.200000 4.040000 0.400000 \n',
 '0.300000 4.090000 0.600000 \n',
 '0.400000 4.160000 0.800000 \n',
 '0.500000 4.250000 1.000000 \n',
 '0.600000 4.360000 1.200000 \n',
 '0.700000 4.490000 1.400000 \n',
 '0.800000 4.640000 1.600000 \n',
 '0.900000 4.810000 1.800000 \n',
 '1.000000 5.000000 2.000000 \n',
 '1.100000 5.210000 2.200000 \n',
 '1.200000 5.440000 2.400000 \n',
 '1.300000 5.690000 2.600000 \n',
 '1.400000 5.960000 2.800000 \n',
 '1.500000 6.250000 3.000000 \n',
 '1.600000 6.560000 3.200000 \n',
 '1.700000 6.890000 3.400000 \n',
 '1.800000 7.240000 3.600000 \n',
 '1.900000 7.610000 3.800000 \n',
 '2.000000 8.000000 4.000000 \n',
 '2.100000 8.410000 4.200000 \n',
 '2.200000 8.840000 4.400000 \n',
 '2.300000 9.290000 4.600000 \n',
 '2.400000 9.760000 4.800000 \n',
 '2.500000 10.250000 5.000000 \n',
 '2.600000 10.760000 5.200000 \n',
 '2.700000 11.290000 5.400000 \n',
 '2.800000 11.840000 5.600000 \n',
 '2.900000 12.410000 5.800000 \n']

In [32]:
infile.close()

In [36]:
infile = open("data1.txt", "r")
time, x, xp =[], [], []
for line in infile.readlines(): #leer linea por linea y descompone en flotantes
    a=line.split()
    print(line.split(), type(a))
    print(float (a[0]))
    x.append(float(a[1]))
    xp.append(a[2])
infile.close()

['0.000000', '4.000000', '0.000000'] <class 'list'>
0.0
['0.100000', '4.010000', '0.200000'] <class 'list'>
0.1
['0.200000', '4.040000', '0.400000'] <class 'list'>
0.2
['0.300000', '4.090000', '0.600000'] <class 'list'>
0.3
['0.400000', '4.160000', '0.800000'] <class 'list'>
0.4
['0.500000', '4.250000', '1.000000'] <class 'list'>
0.5
['0.600000', '4.360000', '1.200000'] <class 'list'>
0.6
['0.700000', '4.490000', '1.400000'] <class 'list'>
0.7
['0.800000', '4.640000', '1.600000'] <class 'list'>
0.8
['0.900000', '4.810000', '1.800000'] <class 'list'>
0.9
['1.000000', '5.000000', '2.000000'] <class 'list'>
1.0
['1.100000', '5.210000', '2.200000'] <class 'list'>
1.1
['1.200000', '5.440000', '2.400000'] <class 'list'>
1.2
['1.300000', '5.690000', '2.600000'] <class 'list'>
1.3
['1.400000', '5.960000', '2.800000'] <class 'list'>
1.4
['1.500000', '6.250000', '3.000000'] <class 'list'>
1.5
['1.600000', '6.560000', '3.200000'] <class 'list'>
1.6
['1.700000', '6.890000', '3.400000'] <class 'list'>
1.7
['1.800000', '7.240000', '3.600000'] <class 'list'>
1.8
['1.900000', '7.610000', '3.800000'] <class 'list'>
1.9
['2.000000', '8.000000', '4.000000'] <class 'list'>
2.0
['2.100000', '8.410000', '4.200000'] <class 'list'>
2.1
['2.200000', '8.840000', '4.400000'] <class 'list'>
2.2
['2.300000', '9.290000', '4.600000'] <class 'list'>
2.3
['2.400000', '9.760000', '4.800000'] <class 'list'>
2.4
['2.500000', '10.250000', '5.000000'] <class 'list'>
2.5
['2.600000', '10.760000', '5.200000'] <class 'list'>
2.6
['2.700000', '11.290000', '5.400000'] <class 'list'>
2.7
['2.800000', '11.840000', '5.600000'] <class 'list'>
2.8
['2.900000', '12.410000', '5.800000'] <class 'list'>
2.9

In [37]:
import numpy
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'numpy'

# Diccionarios
Es un objeto muy flexible para almacenar diversos tipos de inforamcion y en

In [38]:
temps = {'Oslo':13, 'Londres': 15.4, 'Paris': 17.5, 'Madrid': 26.0}

In [39]:
type (temps)

dict

In [40]:
temps['Oslo']

13

In [41]:
temps

{'Oslo': 13, 'Londres': 15.4, 'Paris': 17.5, 'Madrid': 26.0}

In [42]:
temps['Oslo']=23

In [43]:
temps

{'Oslo': 23, 'Londres': 15.4, 'Paris': 17.5, 'Madrid': 26.0}

In [44]:
dict ([(3,4),(5,"dd")])

{3: 4, 5: 'dd'}

In [45]:
"La temperatura en Londres es " + str(temps['Londres'])

'La temperatura en LOndes es 15.4'

In [47]:
temps.values()

dict_values([23, 15.4, 17.5, 26.0])

In [48]:
temps.keys()

dict_keys(['Oslo', 'Londres', 'Paris', 'Madrid'])

In [49]:
temps.items()

dict_items([('Oslo', 23), ('Londres', 15.4), ('Paris', 17.5), ('Madrid', 26.0)])

In [50]:
for city in temps:
    print ("La temperatura en %s es %g" % (city, temps[city]))

La temperatura en Oslo es 23
La temperatura en Londres es 15.4
La temperatura en Paris es 17.5
La temperatura en Madrid es 26

$p(x)= -1 + x +x²$

In [51]:
def poly2 (data,x):
    return sum([data[p]*x**p for p in data])